# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
continuation_indent_size = 2

[*.{ts,js,json,md}]
insert_final_newline = true

[*.sql]
indent_size = 4
continuation_indent_size = 4

[*.{ts,js}]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.sql]
indent_style = tab
indent_size = 4
continuation_indent_size = 4

[*.cs]
dotnet_diagnostic.RCS1090.severity = silent

[*.{razor,cshtml}]
charset = utf-8-bom