<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<app-note> Select a store and mark items complete </app-note>

<mat-accordion *ngIf="stores$ | async as stores; else loading">
  <mat-expansion-panel [expanded]="i === 0" *ngFor="let store of stores; trackBy: trackByStoreId; index as i">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ store.name }} </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list #storeItemList (selectionChange)="selectionChange($event)">
      <mat-list-option *ngFor="let item of store.items" [value]="item" [selected]="item.completed">
        {{ item.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>
</mat-accordion>
