@import '~@angular/material/theming';
@import '../variables.scss';

:host {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  padding: 16px;

  ::ng-deep {
    .mat-expansion-panel {
      &.mat-expanded {
        overflow: unset;
        .mat-expansion-panel-header {
          background-color: mat-color($accentPalette);
          z-index: 1;
          top: 0;
          position: sticky;
          .mat-expansion-panel-header-title {
            color: white;
          }
        }
      }
    }

    .mat-expansion-indicator::after {
      color: white;
    }

    .mat-expansion-panel-header {
      font-size: 16px;
      font-weight: 500;
    }
    .mat-expansion-panel-body {
      padding: 0 8px 16px;
    }
  }
}

.category-name {
  text-align: center;
  background-color: #f5f5f5;
  margin: 0 -8px;
  padding: 8px;
  top: 64px;
  z-index: 1;
  position: sticky;
  font-size: 14px;
  font-weight: 500;
}

.mat-accordion {
  margin: 16px 0;
}

#backBtn {
  margin-right: 16px;
}
