@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

.mat-toolbar {
  height: 64px;
}
