<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<app-note>
  This is a list of stores that can be added to your shopping list. Select a store and add items to show for that store.
</app-note>

<ng-container *ngIf="{ editing: editing$ | async } as opts">
  <ng-container *ngIf="stores$ | async as stores; else loading">
    <mat-nav-list>
      <mat-list-item *ngFor="let store of stores; trackBy: trackByStoreId">
        <span matLine *ngIf="opts.editing">{{ store.name }}</span>
        <a matLine [routerLink]="[store.name]" *ngIf="!opts.editing">{{ store.name }}</a>
        <button id="deleteBtn" mat-icon-button *ngIf="opts.editing" (click)="deleteStore(store)">
          <mat-icon>delete_outline</mat-icon>
        </button>
        <mat-icon *ngIf="!opts.editing">chevron_right</mat-icon>
      </mat-list-item>
      <div class="no-items-label" *ngIf="stores.length === 0">No stores yet. Add one below.</div>
    </mat-nav-list>
    <form (ngSubmit)="addStore()" [formGroup]="newStoreForm" *ngIf="opts.editing">
      <div class="add-store-container">
        <mat-form-field appearance="outline">
          <mat-label>New store name</mat-label>
          <input matInput cdkFocusInitial placeholder="My grocery store name" formControlName="name" />
        </mat-form-field>
        <button id="addStoreBtn" mat-icon-button color="accent">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </form>
  </ng-container>
</ng-container>
