:host {
  display: block;
  padding: 16px 24px;
}

::ng-deep {
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
    display: flex;
    background-color: #dfdfdf;

    .mat-list-item-content {
      display: flex;
      align-items: center;
      flex: 1 1 1%;
      padding: 0 16px;
    }

    .list-item-name {
      flex: 1 1 1%;
      font-size: 16px;
    }

    input {
      font-size: 16px;
    }

    form {
      flex: 1 1 1%;
    }

    .list-item-editor {
      display: flex;
      flex-direction: row;
      flex: 1 1 1%;
    }
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.list-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

h3 {
  flex: 1 1 1%;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

#addListFab {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 100;
}

.add-item-field {
  width: 100%;
}

.add-icon {
  margin: 0 16px 0 12px;
}

.list-item-name {
  flex: 1 1 1%;
  font-size: 16px;
}

form {
  flex: 1 1 1%;
}

.list-item-editor {
  display: flex;
  flex-direction: row;
  flex: 1 1 1%;
}

.mat-form-field {
  margin-bottom: -1.25em;
}

.add-item-field {
  margin-top: -0.75em;
}

.list-container {
  padding-bottom: 16px;
}

.mat-list {
  &.cdk-drop-list-dragging .list-item {
    &:not(.cdk-drag-placeholder) {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.list-item {
  border-bottom: solid 1px rgba(0, 0, 0, 0.17);

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: #dfdfdf;
  }

  &.editing {
    border-bottom: solid 2px #1967d2;
  }

  &.completed .list-item-name {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.3);
  }

  .mat-form-field {
    ::ng-deep {
      .mat-form-field-infix {
        border-top: 0;
      }
    }
  }
}

.delete-list-item-button {
  margin-right: -8px;
}

.list-item-drag-icon {
  color: rgba(0, 0, 0, 0.67);
  margin-right: 16px;
}

.list-item-checkbox {
  margin-right: 16px;
}
