<mat-toolbar> </mat-toolbar>
<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
<mat-nav-list>
  <a mat-list-item [routerLink]="['stores', store.storeId]" *ngFor="let store of stores$ | async; else: loading">{{
    store.name
  }}</a>
  <form (ngSubmit)="addStore()" [formGroup]="newStoreForm">
    <mat-form-field>
      <input matInput placeholder="New store name" formControlName="name" />
      <button matSuffix mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
  </form>
</mat-nav-list>
