:host {
  width: calc(100% - 32px);
  padding: 16px;
  display: block;
}

#backBtn {
  margin-right: 16px;
}

#addStoreBtn {
  margin-bottom: 20px;
  margin-left: 8px;
}

.mat-nav-list {
  margin-bottom: 24px;
}

.no-items-label {
  padding: 16px;
  text-align: center;
}

.add-store-container {
  display: flex;
  align-items: center;
}

.mat-form-field {
  width: 100%;
}
