:host {
}

.store-items-container {
  width: calc(100% - 32px);
  padding: 16px;
  max-width: 1200px;
  margin: auto;
}

#backBtn {
  margin-right: 16px;
}

#addItemBtn {
  margin-bottom: 20px;
  margin-left: 8px;
}

.search-container {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  margin: 8px -16px 0;
  padding: 8px 16px 0;
}

.no-items-label {
  padding: 16px;
  text-align: center;
}

.category-name {
  text-align: center;
  background-color: #f5f5f5;
  margin: 0;
  padding: 16px;
  top: 96px;
  z-index: 1;
  position: sticky;
}

.add-item-container {
  margin-top: 24px;
  display: flex;
  align-items: center;
}

.mat-form-field {
  width: 100%;
}

.option-label {
  display: flex;
  align-items: center;
}

.option-label-text {
  flex: 1 1 1%;
}

.mat-list-item {
  .mat-icon {
    color: rgba(0, 0, 0, 0.54);
  }
}
