<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<app-note> Create and check items that you want displayed in the grocery list. </app-note>

<ng-container *ngIf="{ editing: editing$ | async } as opts">
  <ng-container *ngIf="items$ | async as items">
    <mat-selection-list
      *ngIf="store$ | async as store; else loading"
      [compareWith]="compareItems"
      (selectionChange)="selectionChange($event)"
    >
      <mat-list-option
        *ngFor="let item of items; trackBy: trackByStoreItemId"
        [value]="item"
        [selected]="item.selected"
      >
        <div class="option-label">
          <span class="option-label-text">{{ item.name }}</span>
          <button mat-icon-button (click)="deleteItem(item)" *ngIf="opts.editing">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </mat-list-option>
      <div class="no-items-label" *ngIf="items.length === 0">No items in this store. Add one below.</div>
    </mat-selection-list>

    <form (ngSubmit)="addItem()" [formGroup]="newItemForm" *ngIf="opts.editing">
      <div class="add-item-container">
        <mat-form-field appearance="outline">
          <mat-label>New item name</mat-label>
          <input
            matInput
            cdkFocusInitial
            placeholder="Oreos or something..."
            formControlName="name"
            (keydown)="$event.stopPropagation()"
          />
        </mat-form-field>
        <button id="addItemBtn" mat-icon-button color="accent">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </form>
  </ng-container>
</ng-container>
