<div class="flex">
  <button id="calendarBtn" mat-raised-button color="accent" routerLink="/calendar" disabled>
    <mat-icon>calendar_today</mat-icon>
    <span>CALENDAR</span>
  </button>

  <button id="" mat-raised-button color="accent" routerLink="/shopping">
    <mat-icon>shopping_cart</mat-icon>
    <span>SHOPPING</span>
  </button>

  <button mat-raised-button color="accent" routerLink="/todo" disabled>
    <mat-icon>checklist</mat-icon>
    <span>TO DO</span>
  </button>

  <button mat-raised-button color="accent" routerLink="/notes" disabled>
    <mat-icon>text_snippet</mat-icon>
    <span>NOTES</span>
  </button>
</div>
