@import 'variables.scss';

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
:host {
  ::ng-deep {
    router-outlet ~ * {
      box-sizing: border-box;
      position: absolute;
      min-height: 100%;
      min-width: 100%;
    }
  }
}

h1 {
  flex: 1 1 1%;
}

#backBtn {
  margin-right: 16px;
}

.container {
  height: calc(100% - 144px);
  position: relative;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }
}

.mat-button {
  &.active {
    .outline {
      display: none;
    }
    svg {
      display: inline;
    }
  }
  .outline {
    display: inline;
  }
  svg {
    display: none;
  }
}

#bottomNavigationBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  height: 80px;

  ::ng-deep {
    .mat-button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  svg {
    height: 24px;
    width: 24px;
  }

  .mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    width: 24px;
    height: 32px;
    background-color: transparent;
  }

  .mat-button {
    padding: 12px 0 16px 0;
    flex: 1 1 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    margin-right: 8px;
    font-size: 0.75rem;
    min-width: 48px;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      font-weight: 500;

      .mat-icon {
        width: 64px;
        background-color: rgba(0, 0, 0, 0.2);
        transition: background 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
        transition-property: background, width;
      }

      .button-label {
        height: 16px;
        opacity: 1;
      }
    }
  }

  .button-label {
    line-height: 1rem;
    margin-top: 4px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.55, 0, 0.55, 0.2);
    transition-property: height, opacity;
  }
}
