<mat-toolbar color="primary">
  <button id="backBtn" mat-icon-button (click)="onBack()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1>Grocery list</h1>
</mat-toolbar>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>

<mat-accordion>
  <mat-expansion-panel *ngFor="let store of stores$ | async; else: loading">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ store.name }} </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list #storeItemList>
      <mat-list-option *ngFor="let item of store.items">
        {{ item.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>
</mat-accordion>
