<ng-template #loading>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>

<mat-accordion *ngIf="stores$ | async as stores; else loading">
  <mat-expansion-panel *ngFor="let store of stores; trackBy: trackByStoreId">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ store.name }} </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-selection-list #storeItemList>
      <mat-list-option *ngFor="let item of store.items">
        {{ item.name }}
      </mat-list-option>
    </mat-selection-list>
  </mat-expansion-panel>
</mat-accordion>
